body {
    background: #282828;
}
header, main, footer, section {
    width: 1170px;
    box-sizing: border-box;
    margin: auto;
}
header {
    background-color: rgba(0, 48, 104, 0.95);
    padding: 25px 0 30px 116px;
}
header div:nth-child(1) {font-size: 36px;color: #fff;text-shadow: 0 2px 0 rgba(0, 0, 0, 0.75);}
header div:nth-child(2) {font-size: 18px;color: #3498db;}
header div {margin: 0px 0px 15px 25px;}
header div a{
    transform: skewX(-30deg);
    display: inline-block;
    text-decoration: none;
    background-color: #3493d3;
    font-size: 18px;
    color: #fff;
    margin-left: 25px;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.08);
}
header div a span {
    display: inline-block;
    box-sizing: border-box;
    height: 60px;
    transform: skewX(30deg);
    padding: 18px 48px;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.46);
}
header div a:hover {background-color: #297cb3;}
header div a:active {background-color: rgba(0, 48, 104, 0.95);}
#home{height: 1600px;}
#experience{height: 1550px;}
#portfolio{height: 300px;}
#contact{height: 500px;}
section {
    padding: 40px 0 50px 116px;
    box-sizing: border-box;
    background-color: #fff;
    height: auto;
}
#up {
    position: fixed;
    bottom: 80px;
    left: 0;
    width: 100%;
}
.topic {
    display: inline-block;
    height: 45px;
    width: 100%;
    clear: left;
    margin-bottom: 10px;
}
.topic div:nth-child(1) {
    transform: skewX(-30deg);
    background: #3498db;
    float: left;
    height: 35px;
    margin: 0 20px 0 15px;
}
.topic div:nth-child(2) {
    font-size: 12px;
    font-weight:bold;
    color: #7f8c8d;
    white-space: nowrap;
    overflow: hidden;
    padding-top: 15px;
    text-shadow: 0 2px 0 rgba(255, 255, 255, 0.004);
}
.topic div:nth-child(2):after {
    display: inline-block;
    content: '';
    height: 3px;
    width: 100%;
    background: #2980b9;
    margin-left: 20px;
}
#inf {
    transform: skewX(30deg);
    font-size: 24px;
    color: #fff;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.6);
}
.photo img{
    height: 160px;
    width: auto;
    float: right;
    margin: 10px;
    border: 5px rgba(0, 48, 104, 0.95) solid;
    border-radius: 10px;
}
.photo img:hover{
    height: 260px;
    width: auto;
    position: relative;
    z-index: 1;
}
.imgHorizontal img{
    height: 70px;
    width: auto;
}
.imgHorizontal img:hover{
    height: 350px;
    width: auto;
    position: relative;
    z-index: 1;
}
.left, .right{
    width: 450px;
    height: 140px;
    background-color: #e0f4ff;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
}
.left{
    float: left;
}
.right{
    float: right;   
    margin-right: 70px;
}
.skills img{
    height: 120px;
    width: auto;
    float: left;
    margin: 10px;
}
#portfolio img{
    height: 150px;
    width: auto;
    margin: 10px;
}
#portfolio img:hover {opacity:0.5;}
#informations div{
    float: left;
    font-size: 20px;
    margin-right: 30px;
}
#informations:nth-child(2){
    color: #7f8c8d;
}
input, textarea {
    border: 2px solid #2980b9;
    font-size: 13px;
    color: #2980b9;
    padding-left: 10px;
}
input {
    width: 630px;
    height: 35px;
}
textarea {
    resize: none;
    width: 1000px;
    height: 115px;
}
form span {
    display: inline-block;
    position: relative;
    color: #fff;
    font-size: 15px;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.6);
    right: 68px;
    bottom: 14px;
}
input[type="submit"] {
    margin: 20px 0 0 15px;
    transform: skewX(-30deg);
    background: #3498db;
    width: 100px;
    height: 40px;
}



footer {
    background-color: rgba(0, 48, 104, 0.95);
    font-size: 14px;
    color: #fff;
    padding: 15px 0 15px 116px;
    margin: 0 auto;
}